<% if (!user) { %>
  <div style="width:500px;height:180px;">
    <h2 style="font-size:40px;">Welcome! Please log in.</h2>
    <a href="/auth/google">Continuar com Google</a>
  </div>
<% } else { %>
  <h2>Hello, <%= user.displayName %>.</h2>
  <a href="/logout">Logout</a>
<% } %>